#body {
    background-image: url('https://lizzyjane340.github.io/portfolio-site/images/railshot.jpeg');
    background-size: cover;
    background-position: fixed;
    background-repeat: no-repeat;
    font-family: courier;
}

h2 {
    margin-left: 1rem;
}

/* links */
a:link {
  color: black;
  font-weight: normal;
  font-size: 1.2rem;
}

a:hover {
    color: #C99737;
    font-weight: normal;
    font-size: 1.2rem;
}

a:visited {
  color: black;
  font-weight: normal;
  font-size: 1.2rem;
}

#main-block {
    color: black;
    padding: 1em;
    text-align: center;
}

#text-dark {
    font-family: 'Courier New', courier;
    color: black;
    font-size: 30px;
    font-weight: bold !important;
    justify-content: center;
}

#text-light {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 1rem;
    font-weight: normal !important;
    justify-content: center;
    padding-bottom: 0.3em;
    padding-top: 0.3em;
}

#button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    border: ridge 3px #C99737;
    text-align: center;
    color: #000000;
    width: 150px;
    height: 50px;
    margin: 0.2rem;

}

#link-bar {
    color: black;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

#content-div {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    background-position: fixed;
    overflow: scroll;
    color: white;
    font-size: 1.2rem;
    font-weight: normal !important;
    justify-content: center;
    border: ridge 3px #C99737;
    height: 23rem;
}

#shot {
    margin-bottom: 0.3em;
    border: ridge 3px #C99737;
}


