html { font-size: calc(0.8em + 0.7vw) }
button { font-size: inherit }
input { font-size: inherit }

.cert {
    border: solid 2px gray;
    border-radius: 5px;
}

/* TODO add media query for iframe height ONLY */
#iframe-container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
    margin-top: 1.5em;
    border-radius: 5px;
    height: 80vh;
    width: 100%;
}

iframe {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#iframe-fallback-macha {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    border: 0;
}

#float {
    float: right !important;
}

body {
    background-image: url('https://lizzyjane340.github.io/portfolio-site/images/background_leaves.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    margin-left: 1em;
}

#title-div {
    padding: 0.5em;
    margin-top: 1em;
}

#title {
    background: #45605d;
    color: black;
    margin-bottom: 0.3em;
    font-size: 1.2em;
    height: 5em;
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

#title2 {
    background: #a0b9b2;
    border: solid 2px rgb(212, 170, 92);
    margin-bottom: 1.5em;
    border-radius: 10px;
    width: 30em;
}

h1 { 
    color:  white;
    font-size: 4em;
}

#shot {
    width: 2em;
    margin-right: 0.3em;
    border: solid 2px rgb(212, 170, 92);
}

#linkedinLogo {
    width: 7em;
    margin-left: 2em;
}

#githubLogo {
    width: 6em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#fiverrLogo {
    width: 7em;
}

a:link {
    color: silver;
}

a:hover {
    color: rgb(212, 170, 92);
}

#main-block {
    font-size: 1em;
    padding-top: 1em;
    text-align: center;
    margin-top: 3em;
    margin-bottom: 4em;
}

#button {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: silver;
    color: black;
    font-size: 1.1em;
    border: solid 1px rgb(212, 170, 92);
    border-radius: 10px;
    text-align: center;
    width: 8em;
    height: 2.5em;
    margin: 0.2em;
    margin-bottom: 1em;
}

#content-div {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: black;
    border: solid 2px #7dad9f;
    border-radius: 10px;
    color: white;
    font-size: 0.8em;
    font-weight: normal !important;
    text-align: center;
    padding: 0.5em;
    padding-bottom: 3em;
}

#project-desc {
    padding-right: 1em;
    padding-left: 4em;
    padding-top: 2em;
    margin-top: 1em;
}

#text-dark {
    color: black;
}

#sudoku-screenshot {
    height: 12em;
    width: 35em;
}

#form {
    font-family: 'Source Sans Pro', sans-serif;
    border: solid 2px #7dad9f;
    border-radius: 10px;
    background: #a0b9b2;
    color: black;
    font-size: 1.1em;
    padding: 1em;
    text-align: center;
}

#emailInput, #messageInput {
    border: solid 2px #7dad9f;
    border-radius: 5px;
}

#submit {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: white;
    color: black;
    font-size: 0.9em;
    border: solid 1px black;
    border-radius: 10px;
    text-align: center;
    width: 5em;
    height: 2.5em;
    margin: 0.1em;
    margin-bottom: 0.5em;
}

#project-icon {
    width: 1.5em;
    margin: 0.5em;
}

#index-icon {
    width: 1em;
    margin-left: 0.7em;
    margin-right: 0.5em;
}